.nav {
   grid-area: n;
   background-color: rgb(170, 241, 230);
   border-radius: 20px;
}

.item {
   padding: 0 0 0 30px;
   font-size: 30px;
   font-weight: 500;
   color: rgb(72, 138, 116);
}

.item:first-child {
   padding-top: 20px;
}