.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.dialogItems {
	margin: 20px;

}

.dialog {
	position: relative;
	font-size: 26px;
	width: 240px;
	padding: 5px;
}

.dialog img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid rgb(156, 80, 80);
	margin-right: 10px;
}

.item a {
	text-decoration: none;
	position: absolute;
	top: 25px;
}

.item a.activeLink,
.item a.activeLink:hover {
	display: inline-block;
	color: rgb(76, 68, 143);
	scale: 1.3;
	padding-left: 5px;
	/* border-top: 2px solid rgb(73, 121, 105);
	border-left: 2px solid rgb(141, 190, 174); */
}

.dialog a:hover {
	color: rgb(96, 152, 204);
}

/* .dialog .active{
   color: red
}  */

.messageItems {
	padding: 20px;

}

.sendMessageBlock {
	display: flex;
}

.sendMessageBlock .textField {
	width: 90%;
	border-radius: 15px 0 0 15px;
	padding: 5px 5px 5px 15px;
	height: 50px;
	overflow: hidden;
	resize: none;
	box-shadow: inset 0 0 4px 0px #a8aba8;
}

.sendMessageBlock button {
	width: 60px;
	padding-right: 10px;
	margin-left: -1px;
	border-radius: 0 15px 15px 0;
	border: 2px solid rgb(156, 80, 80);
	background-color: #a6e3cd;
	color: rgb(72, 138, 116);
	font-weight: bold;
	box-shadow: inset 0 0 4px 0px #488a74;
}

.sendMessageBlock button:hover {
	background-color:rgb(104, 202, 169);
	box-shadow: inset 0 0 4px 0px #2d4f42;
	color: rgb(45, 79, 66);
}

.message {
	font-size: 26px;
}