.dialogs{
   display: grid;
   grid-template-columns: 2fr 10fr;
} 

.dialogItems{
   padding: 20px;
   
} 

.dialog {
   font-size: 26px;
   
} 

.dialog .a {
   text-decoration: none;
}

.dialog a.activeLink, 
.dialog a.activeLink:hover {
   display: inline-block;
   color: rgb(77, 69, 148);
   /* border-top: 2px solid rgb(73, 121, 105);
   border-left: 2px solid rgb(141, 190, 174); */
   padding-left: 20px;
}

.dialog a:hover {
   color: rgb(96, 152, 204);
}

/* .dialog .active{
   color: red
}  */

.messageItems{
   padding: 20px;
   
} 

.message{
   font-size: 26px;
} 
